* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto',sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  /* color: black; */
  color: white;
  transition: background-image 2s ease-in-out;
}

#time {
  font-size: 8rem;
}

#date {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 3rem;
}
#name {
  display: inline-block;
  width: 200px;
}

h2 {

  margin-bottom: 0.5rem;
  opacity: 0.6;
}

#focus {
  display: inline-block;
  width: 200px;
}

#btn {
  color: black;
  background-color: honeydew;
  border: none;
  padding: 10px 20px;
  margin-top: 2rem;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 2rem;
}
.jokes{
  margin-bottom: 2rem;
}

/* weather */

.city {
  width: 300px;
  padding: 10px 0;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.temperature {
  font-size: 40px;
  margin-bottom: 20px;
}

.weather-description {
  width: 300px;
  margin: 20px auto;
  font-size: 20px;
  padding: 12px 0;
  color: #ffffff;
  background-color: #44aadd;
  border-radius: 5px;
}

.weather-icon {
  font-size: 160px;
  color: #44aadd;
}

.weather-icon:hover {
  animation: shake 1.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}




@media(max-width: 700px) {
  #time {
    font-size: 6rem;
  }
}