* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 1920px;
  position: relative;
}

html {
  font-size: 14px;
}

body {
  
  margin: 0 auto;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.container {
  max-width: 85.714rem;
  margin: 0 auto;
}

.header {
  background: #FFFFFF;
}

.header-content {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.285rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 0.714rem;
}

.header__subtitle {
  color: #292929;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 0.928rem;
  line-height: 1.071rem;
  letter-spacing: 0.1em;
  padding-left: 0.3rem;
}

.header__link{
  text-decoration: none;
  color: #545454;
}

.header__link--color {
  color: #292929;
}

.nav {
  margin-top: -0.285rem;
}

.nav-block {
  display: flex;

}

.nav__element {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.071rem;
  line-height: 160%;
  color: #545454;
  list-style: none;
  margin-left: 2.58rem;
  cursor: pointer;
  border-bottom: 0.15rem solid rgba(0, 0, 0, 0);
  text-decoration: none;
}

.nav__element--active {
  color: #292929;
  border-bottom: 0.15rem solid#F1CDB3;
  cursor: pointer;
}

.our-friends {
  background: #F6F6F6;
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.714rem;
  padding-bottom: 7.142rem;
}

.our-friend__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 28.571rem;
  margin-bottom: 31px;
}

.our-friends__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85.714rem;
  margin-top: 25px;
}


.slider__cards {
  display: flex;
  margin-bottom: 31px;
  justify-content: space-between;
  width: 70.714rem;
  flex-wrap: wrap;
  width: 100%;

}

.slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  /* background-color: red; */
  border-radius: 0.642rem;
  margin-bottom: 30px;
}

.slider__card__img {
  margin-bottom: 31px;
}

.slider__card:hover {
  background-color: FFFFFF;
  background: #FFFFFF;
  cursor: pointer;
}

.slider__card__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.428rem;
  line-height: 1.642rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 2.142rem;
}



.btn {
  display: inline-block;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.214rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 0.857rem 3rem;
  background: #F1CDB3;
  border-radius: 7.142rem;
  border: 0.142rem solid #F1CDB3;
}

.btn:hover {
  background: #FDDCC4;
  border: 0.142rem solid #FDDCC4;
  border-radius: 7.142rem;
  cursor: pointer;
}

.slider__card__button {
  margin-bottom: 2.142rem;
  background-color: #ffff;
  border: 0.142rem solid #F1CDB3;
  padding: 0.928rem 3.071rem;
}

.our-friend__btn-block {
  display: flex;
}

.our-friend__btn-block__button {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 12px 10px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  margin-right: 10px;
  margin-left: 10px;
}

.our-friend__btn-block__button:hover {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
  cursor: pointer;
}

.our-friend__btn-block__button--active {
  border: 2px solid #F1CDB3;
  background: #F1CDB3;
}

.our-friend__btn-block__button--disable {
  border: 2px solid #CDCDCD;
  pointer-events: none;
}

.our-friend__btn-block__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 23px;
}

.footer {
  background: url('/assets/images/noise_transparent@2x.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
    #211F20;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85.714rem;
  padding-top: 2.385rem;
}

.footer__contacts {
  padding-top: 1.714rem;
}

.footer-address {
  padding-right: 2.714rem;
}

.footer-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 2.642rem;
  padding-top: 1.714rem;
  width: 300px;
  ;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer-address__title {
  margin-bottom: 2.285rem
}


.footer-contact__link {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.428rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  width: 21.571rem;
  display: inline-block;
  text-decoration: none;
}

.footer-contact__link--margin {
  margin-left: 1.428rem;
}

.footer-contacts__icon {
  margin-right: 1.428rem;
  text-decoration: none;
}

.element {
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem;
}

.footer-address__element {
  margin-bottom: 2.342rem;
}

.footer-contacts {
  margin-right: 76px;
}

.modal {
  height: 100%;
  width: 100%;
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-wrapper {
  display: flex;
  justify-content: space-between;
  background: #FAFAFA;
  max-width: 900px;
  position: relative;
  border-radius: 9px;
}

.close__button {
  position: absolute;
  top: -10.1%;
  right: -4.5%;
  z-index: 99;
  border-radius: 100%;
}

.modal__img {
  height: 500px;
  width: 500px;

}

.modal__content {
  padding-top: 52px;
  padding-left: 31px;
}

.modal-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 10px;
}

.modal-subtitle {
  display: inline-block;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 40px;
}

.modal-describtion {
  display: inline-block;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 40px;
  max-width: 350px;
}

.modal-items {
  font-family: Georgia;
  font-style: normal;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
  list-style: none;
  padding-left: 13px;
}

.modal-item {
  margin-bottom: 10px;
}

.modal-item::before {
  content: "\2022";
  color: #F1CDB3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.burger-menu {
  display: none
}

.header-burger{
  display: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    width: 768px;
  }

  .header-burger {
    display: none;
  }

  .header-container {
    max-width: 50.571rem;
  }

  .our-friends__wrapper {
    padding-bottom: 5.542rem;
  }

  .header-content {
    padding-top: 2.142rem;
  }

  .our-friend__title {
    margin-bottom: 2px;
  }

  .our-friends__slider {
    display: flex;
    flex-wrap: wrap;
    max-width: 580px;
  }

  .slider__cards {
    margin-bottom: 10px;
  }





  .footer-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
    padding-top: 31px;
  }

  .footer__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 64px;
    margin-bottom: 26px;

  }

  .footer-address {
    padding-right: 0;
    padding-left: 58px;
    width: 424px;

  }

  .footer-title {
    margin-right: 0;
    padding-top: 0;
  }

  .footer-contacts {
    width: 280px;
    margin-right: 0px;
  }

  .footer-address__title {
    width: 300px;
  }






  .modal {
    height: 100%;
    width: 100%;
    background: rgba(41, 41, 41, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .modal-wrapper {
    display: flex;
    justify-content: space-between;
    background: #FAFAFA;
    max-width: 630px;
    position: relative;
    border-radius: 9px;
  }

  .close__button {
    position: absolute;
    top: -14.6%;
    right: -6.9%;
    z-index: 99;
    border-radius: 100%;
  }

  .modal__img {
    height: 350px;
    width: 350px;

  }

  .modal__content {
    padding-top: 10px;
    padding-bottom: 37px;
    padding-left: 11px;
  }

  .modal-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 10px;
  }

  .modal-subtitle {
    display: inline-block;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 22px;
  }

  .modal-describtion {
    display: inline-block;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 18px;
    max-width: 265px;
  }

  .modal-items {
    font-family: Georgia;
    font-style: normal;
    font-size: 15px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    list-style: none;
    padding-left: 13px;
  }

  .modal-item {
    margin-bottom: 6px;
  }

  .modal-item::before {
    content: "\2022";
    color: #F1CDB3;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  .burger-menu {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    max-width: 100%;
  }

  .header-content {
    padding-top: 29px;
    padding-left: 9px;
    width: 100%;
  }

  .header-burger {
    display: inline-block;
    margin-right: 53px;
  }

  .nav {
    display: none;
  }



  .our-friends__wrapper {
    padding-top: 41px;
    padding-bottom: 3.042rem;
  }

  .our-friend__title {
    font-size: 25px;
    margin-bottom: 17px;
  }

  .our-friends__slider {
    max-width: 320px;
  }

  .slider__cards {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    margin-bottom: 13px;
  }

  .our-friend__btn-block {
    max-width: 300px;
    margin-right: -5px;
  }

  .our-friend__btn-block__button {
    margin-left: 0px;
  }















  .footer-wrapper {
    flex-direction: column;
    max-width: 320px;
    margin: 0 auto;
    padding-top: 30px;
  }

  .footer-contacts__element {
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 36px;

  }

  .footer-contacts__element--padding {
    padding-left: 5px;
  }

  .footer-address {
    padding-right: 0;
  }

  .footer-title {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    text-align: center;
    margin-bottom: 38px;
    font-size: 25px;
  }

  .footer-address__element {
    max-width: 300px;
  }

  .footer-address__title {
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .footer-img {
    width: 260px;
    height: 269px;
    margin: 0 auto;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer-contacts {
    margin-right: 0px;
  }

  .modal {
    height: 100%;
    width: 100%;
    background: rgba(41, 41, 41, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .modal-wrapper {
    display: flex;
    justify-content: space-between;
    background: #FAFAFA;
    max-width: 240px;
    position: relative;
    border-radius: 9px;
  }

  .close__button {
    position: absolute;
    top: -13.6%;
    right: -11.9%;
    z-index: 99;
    border-radius: 100%;
  }

  .modal__img {
    height: 350px;
    width: 350px;
    display: none;

  }

  .modal__content {
    padding-top: 10px;
    padding-bottom: 37px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
  }

  .modal-subtitle {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    margin: 0 auto;
    display: table;
    margin-bottom: 22px;
  }

  .modal-describtion {
    display: block;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 22px;
    max-width: 220px;
    font-size: 13px;
    line-height: 110%;
    text-align: justify;
  }

  .modal-items {
    font-family: Georgia;
    font-style: normal;
    font-size: 15px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    list-style: none;
    padding-left: 13px;
  }

  .modal-item {
    margin-bottom: 6px;
  }

  .modal-item::before {
    content: "\2022";
    color: #F1CDB3;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  /* burger */
html,
body {
  overflow-x: hidden;
}

.burger-menu {
  display: block;
  background: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%);
  transition: transform 0.5s ease-in;
}

.burger-menu--active {
  display: block;
  transform: translateX(0%);
}

.burger-wrapper {
  background: #292929;
  width: 320px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}


.burger-menu-content {
  margin-bottom: 125px;
}

.burger-menu--title{
  color: #F1CDB3;
}

.header__subtitle{
  color: #FFFFFF;
}

.header-burger {
  filter: invert(63%) sepia(7%) saturate(7471%) hue-rotate(356deg) brightness(9%) contrast(135%);
}
.header-burger--inside {
  margin-right: 52px;
  margin-bottom: 4px;
}
.burger-nav {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 160%;
  color: #CDCDCD;
}

.burger-nav-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.burger-nav__element {
  margin-bottom: 40px;
}

.burger-nav__element--active {
  margin-bottom: 40px;
  color: #FFFFFF;
  border-bottom: 3px solid #F1CDB3;
}

@keyframes logoFade {
  from {
    opacity: 1;
    transform: translate(0px)
  }

  to {
    opacity: 0;
    transform: translate(-50px);
  }
}

@keyframes logoVisible {
  from {
    opacity: 0;
    transform: translate(-50px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rotateButton {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes rotateForwardButton {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateButtonInside {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

@keyframes rotateForwardButtonInside {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.burger-nav__element {
  text-decoration: none;
  color: #CDCDCD;
}
}



/* modal */
.active-modal {
  display: flex;
}

.close__button:hover {
  background: #FDDCC4;
  transition: 2s;
}

.close__button__active {
  background: #FDDCC4;
  transition: 2s;
}

.slider__card__active {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: 1s;
}
