.btn {

  display: block;
  margin: 0 auto;
  color: #616771;
  border: none;
  margin-top: 20px;
  background: #FFD7AE;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5%;
}