$primary-font: Helvetica, sans-serif;
$primary-color: #333;
$text-before: #fff;
$text-after: #749ED7;
$face-before: #AEB8D1;
$face-after: #679DFF;
$face-details-before: #5B6F8F;
$face-details-after: rgba(0, 33, 71, 1);
$tongue: red;