* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.container {
  max-width: 85.714rem;
  margin: 0 auto;
}

.header {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  width: 85.714rem;
}

.header-content {
  padding-top: 4.285rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.285rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 0.714rem;
}

.header__subtitle {
  color: #FFFFFF;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 0.928rem;
  line-height: 1.071rem;
  letter-spacing: 0.1em;
  padding-left: 0.3rem;
}

.nav {
  margin-top: -0.285rem;
}

.nav-block {
  display: flex;

}

.nav__element {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.071rem;
  line-height: 160%;
  color: #CDCDCD;
  list-style: none;
  margin-left: 2.58rem;
  cursor: pointer;
  border-bottom: 0.15rem solid rgba(0, 0, 0, 0);
}

.nav__element--active {
  color: #FAFAFA;
  border-bottom: 0.15rem solid#F1CDB3;
  cursor: pointer;
}

.not-only {
  background: url('/assets/images/noise_transparent.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    #211f20;
}


.not-only-wrapper {
  padding-top: 12.785rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.not-only__content {
  margin-top: -5.642rem;
}

.title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.142rem;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 22.14rem;
  margin-bottom: 3rem;
}

.subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.071rem;
  line-height: 160%;
  color: #CDCDCD;
  max-width: 32.857rem;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.214rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 0.857rem 3rem;
  background: #F1CDB3;
  border-radius: 7.142rem;
  border: 0.142rem solid #F1CDB3;
}

.btn:hover {
  background: #FDDCC4;
  border: 0.142rem solid #FDDCC4;
  border-radius: 7.142rem;
  cursor: pointer;
}

.about-container {
  max-width: 69.214rem;
}

.about-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5.714rem;
  padding-bottom: 6.428rem;
}

.about-img {
  margin-top: -0.714rem;
}

.about-content {
  padding-top: 1.071rem;
}

.about-content__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 1.785rem;
}

.about-content__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.071rem;
  line-height: 161%;
  color: #4C4C4C;
  margin-bottom: 1.785rem;
  max-width: 30.714rem;
}

.our-friends {
  background: #F6F6F6;
}

.our-friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.714rem;
  padding-bottom: 7.142rem;
}

.our-friend__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 28.571rem;
  margin-bottom: 4.214rem;
}

.our-friends__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85.714rem;
}

.slider-arrow {
  margin-top: -4.285rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.142rem solid #F1CDB3;
  border-radius: 50%;
  padding: 1.5rem 1.214rem;
}

.slider-arrow:hover {
  border: 0.142rem solid #FDDCC4;
  background: #FDDCC4;
  cursor: pointer;
}

.slider__cards {
  display: flex;
  margin-bottom: 4.285rem;
  justify-content: space-between;
  width: 70.714rem;
}

.slider__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  /* background-color: red; */
  border-radius: 0.642rem;
}

.slider__card__img {
  margin-bottom: 31px;
}

.slider__card:hover {
  background-color: FFFFFF;
  background: #FFFFFF;
  cursor: pointer;
}

.slider__card__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.428rem;
  line-height: 1.642rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 2.142rem;
}

.slider__card__button {
  margin-bottom: 2.142rem;
  background-color: #ffff;
  border: 0.142rem solid #F1CDB3;
  padding: 0.928rem 3.071rem;
}

.help-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 135%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 4.285rem;
  margin-top: 5.714rem;
}

.help-icons__wrapper {
  display: grid;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-template-rows: 50% 50%;
  width: 85.714rem;
  padding-bottom: 3.214rem;
}

.help-icon__block {
  margin-bottom: 3.928rem;
}

.help-icon__block:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 4;
  padding-left: 0.928rem;

}

.help-icon__block:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 5 / span 4;

}

.help-icon__block:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 9 / span 4;
  padding-right: 1.714rem;
  ;
}

.help-icon__block:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 13 / span 3;
  padding-left: 0.5rem;

}

.help-icon__block:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 17 / span 3;
  padding-left: 1.428rem;

}

.help-icon__block:nth-of-type(6) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 3 / span 3;
  padding-left: 0.714rem;

}

.help-icon__block:nth-of-type(7) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 7 / span 2;
  padding-left: 1.285rem;

}

.help-icon__block:nth-of-type(8) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 11 / span 3;
  padding-right: 0.714rem;

}

.help-icon__block:nth-of-type(9) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 15 / span 4;
  padding-right: 0.5rem;

}

.help-icon__block-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.428rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-top: 2.142rem;
}

.additional {
  background: #F6F6F6;
}

.additional-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7.214rem;
  padding-top: 6rem;
}

.additional-img {
  padding-right: 2.0714rem;
  margin-top: 0px;
}

.additiona-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.additional-content__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 135%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 21.428rem;
  margin-bottom: 1.142rem;

}

.additional-content__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.0714rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 1.428rem;
  display: inline-block;
}

.additional-content__card-info {
  display: flex;
  align-items: center;
  background: #F1CDB3;
  border-radius: 0.642rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.428rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 0.714rem 0.714rem;
  margin-bottom: 1.642rem;
  width: 24.928rem;
}

.additional-content__card-info:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.additional-content__card-info__number {
  text-decoration: none;
  color: #545454;
}

.additional-content__card-info__icon {
  padding-left: 0.5rem;
  margin-right: 1.0714rem;
}

.additional-content__describtion {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 0.857rem;
  line-height: 1.285rem;
  color: #B2B2B2;
  max-width: 27.142rem;
}

.footer {
  background: url('/assets/images/noise_transparent@2x.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
    #211F20;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85.714rem;
  padding-top: 2.385rem;
}

.footer__contacts {
  padding-top: 1.714rem;
}

.footer-address {
  padding-right: 2.714rem;
}

.footer-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 2.642rem;
  padding-top: 1.714rem;
  ;
}

.footer-address__title {
  margin-bottom: 2.285rem
}


.footer-contact__link {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.428rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  width: 21.571rem;
  display: inline-block;
  text-decoration: none;
}

.footer-contact__link--margin {
  margin-left: 1.428rem;
}

.footer-contacts__icon {
  margin-right: 1.428rem;
  text-decoration: none;
}

.element {
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem;
}

.footer-address__element {
  margin-bottom: 2.342rem;
}